[submodule "py-substrate-interface"]
	path = py-substrate-interface
	url = https://github.com/subspace/py-substrate-interface.git
	branch = subspace-testnet
[submodule "py-scale-codec"]
	path = py-scale-codec
	url = https://github.com/subspace/py-scale-codec.git
    branch = subspace-testnet